//Custom CSS

.date:before {
  /*Hides Date on all posts when uncommented*/
  //display: none;
  
  /*Adds these words before date*/
  content:'Last Updated On ';
}

/*Hides Pagination*/
.pagination.clear {
   visibility:hidden !important;
}

/*Hides Banner on Home Page*/
#collection-5af0e04903ce64cf5af97ee7 .blog-banner {
  display:none;
}

/*Formats Hero Image*/
.blog-banner-image{
  width:100%;
  height:350px;
  object-fit:cover;
  object-position:center center;
  margin-top:100px;
}

/*One-Line Newsletter Block*/
.newsletter-block .newsletter-form-wrapper {
    padding: 0;
    background: none;
  }
  @media only screen and (min-width:820px) {
    .newsletter-block .newsletter-form {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      -webkit-align-items: center;
    }
    .newsletter-block .newsletter-form-header {
      flex: 2;
      -webkit-flex: 2;
      text-align: left;
    }
    .newsletter-block .newsletter-form-header-title, .newsletter-block .newsletter-form-header-description p {
      text-align: right;
    }
    .newsletter-block .newsletter-form-header-description p {
      margin: 10px 0 0;
    }
    .newsletter-block .newsletter-form-header-title {
      font-size: 25px;
      margin-bottom: 0;
    }
    .newsletter-block .newsletter-form-body {
      flex: 3;
      -webkit-flex: 3;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: flex-end;
      -webkit-justify-content: flex-end;
    }
    .newsletter-block .newsletter-form-fields-wrapper {
      flex: 2;
      -webkit-flex: 2;
    }
    .newsletter-block .newsletter-form-field-wrapper {
      width: 95%;
    }
  }
